<div class="container">
  <div class="row col-md-12" *ngIf="thisGroupLoaded">
    <div class="alert alert-success" role="alert">
      Edit Group
    </div>
  </div>
  <div class="row" *ngIf="thisGroupLoaded">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col-md-7"><input style="width: 100%;" type="text" #groupName value="{{thisGroup.name}}"
              placeholder="Enter the name of the group"></div>
          <div class="col-md-5">

            <button class="btn btn-primary" (click)="updateGroup(groupName.value)">Update Group</button>
          </div>

        </div>
        <div class="row" *ngIf="wrongDetails">
          Please enter a valid group name.
        </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="thisGroupLoaded">
      <div class="alert alert-info col-md-12" role="alert">
          Permissions
        </div>
  
    <div class="col-md-4" *ngFor="let key of thisGroup.permissions | keys">
        <ul class="list-group">
            <li class="list-group-item active">{{key | uppercase }}</li>
            <li class="list-group-item" *ngFor="let perm of thisGroup.permissions[key] | keys">
              {{ perm | uppercase  }} <button style="float: right" class="btn btn-success" (click)="thisGroup.permissions[key][perm] = !thisGroup.permissions[key][perm]" *ngIf="!thisGroup.permissions[key][perm]">Grant</button>
              <button style="float: right" class="btn btn-danger" (click)="thisGroup.permissions[key][perm] = !thisGroup.permissions[key][perm]" *ngIf="thisGroup.permissions[key][perm]">Revoke</button>
            </li>
          </ul>
    </div>

  </div>
</div>