<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          404</h1>
        <h2>
          This page does not exist.</h2>
        <div class="error-actions">
          <a class="btn btn-info btn-lg" routerLink="/"> Home </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          The server is taking too much time to respond! </h2>
        <div class="error-details">
          Please refresh.
        </div>
        <div class="error-actions">
          <a class="btn btn-info btn-lg" routerLink="/"> Refresh </a>
        </div>
      </div>
    </div>
  </div>
</div>-->