<div class="container">
  <div class="row">
      <div class="alert alert-primary col-md-12" role="alert">
          Add Group
      </div>
      
  </div>
  <div class="row">
      <div class="col-md-12">
          <form>
            <div class="row">
                      <div class="col-md-7"><input style="width: 100%;" type="text" #groupName value="" placeholder="Enter the name of the group"></div>
                      <div class="col-md-5">
            
                          <button class="btn btn-primary" (click)="saveGroup(groupName.value)">Add Group</button>
                      </div>
                
            </div>
            <div class="row" *ngIf="wrongDetails">
              Please enter a valid group name.
            </div>
          </form>
        </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let group of allGroups">
      <div class="card">
        <div class="card-header primary">
          {{group.name}}
        </div>
        <div class="card-body">
          <button class="btn btn-danger" (click)="editGroup(group._id)">Modify</button>
        </div>
      </div>
    </div>
  </div>
</div>

