
@import url('https://fonts.googleapis.com/css?family=Montserrat');

h2 {
  font-family: 'Montserrat', sans-serif;
}

.news-gallery-container {
    margin-top: 40px;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}



.news-box {
    cursor: pointer;
    height: auto;
    min-height: 300px;
    background: #fff;
    box-shadow: 2px 2px 25px #BFBFBF;
    border-radius: 7px;
    width: 260px;
    transition: 0.3s ease;
}


.news-box:hover {
    box-shadow: 2px 2px 35px #4d4f4f;
}

.box-image {
    transition: 0.2s ease;
}

.news-box:hover .box-image {
    filter: saturate(2);
}


.box-cat {
    height: auto;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    background: #FFF;
}

.form-control {
    border-radius: 5px;
    border: 0px solid #4D4D4D;
    box-shadow: 2px 2px 25px grey;
    margin-bottom: 25px;
}

.form-control:active {
    border: 2px solid #000;
    box-shadow: 2px 2px 16px #BFBFBF;
}

.box-image {
    margin-top: -16px;
    height: auto;
    min-height: 160px;
    background-size: cover;
}

.box-title {
    background: #FFF;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;

}

.box-summary {
    background: #FFF;
    font-size: 0.8em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.top-heading {
    margin-bottom: 30px;
}

.round-button {
    float: right;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(red,#FF995F);
    box-shadow: 2px 2px 16px #ED7458;
    font-size: 1.8em;
    color: #fff;
    font-weight: bold;
    transition: 0.3s ease !important;
}

.round-button:hover {
    background: linear-gradient(red,#BA4635);
}

.pagination-div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}




.card-image-box-big {
    height: auto;
    min-height: 420px;
    background: #4d4d4d;
    padding-top: 55%;
    color: #fff;
}

.card-image-box {
    height: auto;
    min-height: 200px;
    background: #4d4d4d;
    margin-bottom: 20px;
}

.category-div {
    margin-bottom: 15px;
    padding: 12px 17px 12px 17px;
    background: #CF510A;
}

.title-div {
    font-size: 2em;
    font-weight: bold;
}

.category-div-outer {
    bottom: 4%;
}

.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #dc3545;
  }

  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 18px 0;
    background-color: #dc3545;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    
    z-index: 2;
  }
  
  .ribbon-top-left {
    top: -10px;
  }

  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }

  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }

  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }

  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  
